name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Build
      run: cargo build --release

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./target/release/pendant_watch.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}