name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Get commit message
      run: |
        $COMMIT_MSG = git log --format=%B -1 | Out-String -NoNewline
        echo "COMMIT_MSG=$COMMIT_MSG" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Check if version commit
      run: |
        if ($env:COMMIT_MSG -match '^v') {
          echo "VERSION_TAG=$env:COMMIT_MSG" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        } else {
          echo "Not a version commit"
        }

    - name: Create tag
      if: env.VERSION_TAG != ''
      run: |
        git tag $env:VERSION_TAG
        git push origin $env:VERSION_TAG

    - name: Install Rust
      if: env.VERSION_TAG != ''
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Build
      if: env.VERSION_TAG != ''
      run: cargo build --release

    - name: Create Release
      if: env.VERSION_TAG != ''
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.VERSION_TAG }}
        files: ./target/release/pendant_watch.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}